{
    "parser": "babel-eslint",
    "root": true,
    "env": {
        "es6": true,
        "node": true
    },
    "extends": "eslint-config-hapi",
    "plugins": [
        "babel",
        "import",
        "markdown",
        "prettier"
    ],
    "rules": {
        "import/no-unresolved": [
            2
        ],
        "object-curly-spacing": [
            2,
            "never"
        ],
        "hapi/hapi-scope-start": [
            0
        ],
        "no-buffer-constructor": [
            0
        ],
        "padding-line-between-statements": [
            0
        ],
        "func-style": [
            0
        ]
    }
}